#item_txt{
    width: 20%;
  }
  #generarCodigo{
    width: 10%;
    background-color: #be2222;
    color: rgb(24, 224, 41);
  }
  #descargarCodigo{
    width: 10%;
    background-color: #3CB371;
    color: rgb(40, 38, 122);
    display: none;
    text-align: center;
    border: #eee solid 2px;
    text-decoration: none;
  }
  #codigoQR{
    width: 256px;
    height: 256px;
    margin-top: 25px;
    border: 2px solid #eee;
  }